<<<<<<< HEAD
    h2 span{
        color: #ecfa00;
        font-size: 1.5em;
    }
    h3  span{
        color: #ecfa00;
        font-size: 1.5em;
    }
=======
    h2 span{
        color: #ecfa00;
        font-size: 1.5em;
    }
    h3  span{
        color: #ecfa00;
        font-size: 1.5em;
    }
>>>>>>> 0593c20d3c51439f8f2787abe2575513382052e1
